* {
    margin: 0;
    font-family: sans-serif;
    letter-spacing: .2em;
}

body {
    background-color: #9b59b6;
}


h1 {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    margin-bottom: -20px;
    font-size: 1.5em;
}
.container {
    width: 90%;
    margin: 0 auto;
    height: 85vh;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.canvas {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 800px;
    padding: 20px 10px;
    height: 70vh;
    border-radius: 2%;
    display: flex;
    flex-flow: row wrap;
    background-color: #ecf0f1;
}

.table {
    height:100%;
    width: 100%;
}
.pixel {
    height: 30px;
    width: 30px;
    border: 1px solid#ecf0f1;
    background-color: white;
}

.color-red {
    background-color: red;   
}

.brush {
    height: 30px;
    width: 30px;
    border: 1px solid  #95a5a6;
    background-color: blue;
    border-radius: 50%;
    margin: .2em;
}

/* Brush Colors*/
#firebrick{
    background-color: firebrick;
}

#blue{
    background-color: blue;
}

#pink {
    background-color: pink;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#lightcoral {
    background-color: lightcoral;
}

#black {
    background-color: black;
}

#dimgray {
    background-color: dimgray;
}

#darkturquoise {
    background-color: darkturquoise;
}

#darkorange {
    background-color: darkorange;
}

#chocolate {
    background-color: chocolate;
}

#yellow {
    background-color: yellow;
}

#white {
    background-color: mintcream;
}

#darkviolet {
    background-color: darkviolet;
}

.paint-colors {
    margin: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 15vh;
    width: 100%;
    background-color: #ecf0f1;
    border-top: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
}


.brush:hover {
    opacity: .8;
}

.current-color {
    margin-left: .5em;
}
.current-color p {
    color: darkslategray;
}

#current-color-box {
    height: 40px;
    width: 100%;
    background-color: firebrick;
    border-radius: 5%;
}

.brush-functions{
    display: flex;
    flex-direction: row;
    font-size: 3em;
    margin-left: .5em;
}

.brush-functions i {
    color: darkgray;
    transition: color .4s;
}

.brush-functions i:hover {
    color: gray;
}